.btn {
  cursor: pointer;
  height: 20px;
  padding: 25px 19px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 32px;
}
.btn-toTop {
  -moz-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  -o-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 0.5s;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition-delay: 0.5s;
  z-index: 1000;
}
// formのsendボタン
.form__btn {
  position: relative;
  text-align: right;
  font-size: 0;
  padding-bottom: 0;
  @include respond(sp) {
    padding-top: 40px;
    text-align: center;
  }
}

.btn-send {
  bottom: 5px;
  position: absolute;
  right: 0;
  width: 20%;
}
