img {
  width: 100%;
}
.image__all {
  width: 646px;
  @include respond(sp) {
    width: 100%;
  }
}
.image__wrap {
  display: block;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  float: right;
  &::after + ::before {
    background-color: #f1f1f1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    transition: left 0.6s linear;
    z-index: 2;
  }
}
.image__wrap::before {
  height: 100%;
  left: 150%;
  width: 200%;
  color: aquamarine;
}
.image__wrap::after {
  height: 100%;
  left: 100%;
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
  width: 100%;
  color: aqua;
}
.image {
  margin-left: 50px;
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  @include respond(sp) {
    min-width: 100vw;
  }
}
