.tabs,
.tabs::before,
.tabs::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $clr-white;
}
.tabs {
  position: relative;
  width: 75%;
}
input[type='radio'] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.tab__item {
  height: calc(100% / 4);
  position: relative;
  top: 0;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 18%;
  cursor: pointer;
  border-right: 0.5rem solid $clr-tabInput;
  text-align: center;
  color: #565656;
  background-color: #fff;
  font-size: 2rem;
  line-height: 100px;
}
.tab__content {
  display: none;
  clear: both;
  overflow: hidden;
}
.tab__item:hover,
input:checked + .tab__item {
  background-color: $clr-tabInput;
}
#sing:checked ~ #sing__content,
#book:checked ~ #book__content,
#mindset:checked ~ #mindset__content {
  display: block;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  left: 21.5rem;
}
