.movie {
  height: 717px;
  overflow: hidden;
  position: relative;
  right: -60px;
  width: 100%;
  @include respond(sp) {
    margin: 0 -15px;
  }
}
.movie__container {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @include respond(sp) {
    display: block;
  }
}
.mainVideo {
  padding: 95px 0 0;
  @include respond(sp) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: calc(100vh - 200px);
    padding: 100px 0 0;
  }
}
