// html, body
html,
body {
  // background-color: $clr-bodyBG;
  color: $clr-paragraph;
  font-size: 62.5%;
  font-feature-settings: 'palt' 1;
  line-height: 1.5px;
  width: 100%;
  &:hover {
    transition: 0.2s;
  }
}
ul {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  color: #646464;
  text-decoration: none;
}

a:hover {
  color: #646464;
}
.link_fade {
  opacity: 1;
  -moz-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link_fade:hover {
  opacity: 0.7;
}
.left {
  float: left;
}
.center {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  // debug
  // background-color: $clr-white;
  @include respond(sp) {
    width: 720px;
  }
  @include respond(pc) {
    width: 1280px;
  }
}
.show__pc {
  display: block;
  @include respond(sp) {
    display: none;
  }
}
.show__sp {
  display: none;
  @include respond(sp) {
    display: block;
  }
}
.logo {
  padding: 15px 0;
}
.logo__title {
  display: inline-block;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 70px;
  padding: 0 5px;
}
// user-select
// .user-select {
//   -moz-user-select: -moz-none;
//   -ms-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
// }
// transform
.rotated {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.copyright {
  letter-spacing: 0.12em;
  line-height: 1em;
  color: $clr-paragraph;
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  @include respond(sp) {
    font-size: 2rem;
    letter-spacing: 0.12em;
    line-height: 1em;
    padding: 30px 0 60px;
  }
}

// main
.main {
  height: 300px;
}
.section {
  @include respond(sp) {
    padding: 200px 0 20px;
  }
}
.section__title {
  color: $clr-paragraph;
  letter-spacing: 0.1em;
  line-height: 1em;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  @include respond(pc) {
    font-size: 1.5rem;
    left: 0.5em;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transition: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  @include respond(sp) {
    font-size: 2rem;
    margin: 50px 0 100px;
    position: relative;
    text-align: center;
  }
  &::before {
    content: '';
    display: block;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    @include respond(pc) {
      height: 7px;
      margin-top: -2px;
      width: 216px;
    }
    @include respond(sp) {
      height: 9px;
      margin-top: -3px;
      width: 296px;
    }
  }
}
.title__wrap {
  display: inline-block;
  position: relative;
}
.title__item {
  display: inline-block;
  opacity: 1;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
