// html, body

html,
body,
form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  color: $clr-paragraph;
  font-size: 62.5%;
  font-feature-settings: 'palt' 1;
  line-height: 1.5px;
  overflow-x: hidden;
  &:hover {
    transition: 0.2s;
  }
}
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: $clr-bodyBG;
  border: 0 solid #000;
  color: $clr-paragraph;
  font-family: $font-family;
  line-height: 1.4em;
}
h2 {
  font-size: 3.5rem;
}
ul {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  color: #646464;
  text-decoration: none;
}

a:hover {
  color: #646464;
}
.show__pc {
  display: block;
  @include respond(sp) {
    display: none;
  }
}
.show__sp {
  display: none;
  @include respond(sp) {
    display: block;
  }
}
.logo {
  padding: 15px 0;
}
.logo__title {
  display: inline-block;
  padding: 0 5px;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 70px;
}
.copyright {
  // position: absolute;
  // right: 0;
  // top: 0;
  letter-spacing: 0.12em;
  line-height: 1em;
  color: $clr-paragraph;
  font-size: 1.3rem;
  // transform-origin: right top;
  @include respond(sp) {
    padding: 30px 0 60px;
    font-size: 2rem;
    letter-spacing: 0.12em;
    line-height: 1em;
  }
}

// 各セクション
.section {
  @include respond(sp) {
    padding: 200px 0 20px;
  }
}
.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
}
.wrapper__explanation {
  padding: 100px 0 0;
  @include respond(sp) {
    padding-top: 50px;
  }
}
.section__text {
  text-align: left;
  padding-left: 120px;
  line-height: 1.5rem;
}
.text__ja {
  padding-top: 35px;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  line-height: 2.3rem;
  @include respond(sp) {
    padding-top: 40px;
    font-size: 2rem;
    letter-spacing: 0.2em;
    line-height: 2.25em;
  }
}
.text__en {
  padding-top: 35px;
  font-size: 1rem;
  letter-spacing: 0.15em;
  line-height: 2.15em;
  @include respond(sp) {
    padding-top: 50px;
    font-size: 1.9rem;
    letter-spacing: 0.14em;
    line-height: 2em;
  }
}
.text__small {
  padding-top: 15px;
  font-size: 0.85rem;
  letter-spacing: 0.3em;
  line-height: 1.85em;
  @include respond(sp) {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 1.6em;
  }
}
.border__bottom {
  border-bottom: 7px solid #2d3c64;
  @include respond(sp) {
    border-bottom: 12px solid #2d3c64;
  }
}
