.header__fix__pc {
  padding-top: 15px;
  height: 0;
  left: 0;
  position: fixed;
  text-align: right;
  top: 60px;
  width: 100%;
  z-index: 3000;
}
.header__fix__sp {
  // @include respond(sp) {
  // padding-top: 50px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
  // }
}
.menu {
  float: right;
  font-size: 0;
  letter-spacing: 0;
  @include respond(sp) {
    float: inherit;
    background-color: #fff;
    height: 100vh;
  }
}
.menu__alignment {
  display: inline-block;
  vertical-align: middle;
  @include respond(sp) {
    padding: inherit;
  }
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  @include respond(sp) {
    display: list-item;
    &__sns {
      display: inline-block;
    }
  }
}
li.menu__item + li.menu__item {
  margin-left: 15px;
  @include respond(sp) {
    margin-left: 0;
  }
}
.menu__link {
  color: $clr-paragraph;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 0 2px 2px;
  @include respond(sp) {
    font-size: 3rem;
  }
}
// sp:menu項目
.navi {
  line-height: 7rem;
}
// .box__top {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
// }
.box__btm {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
